<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Базовые разрешения (работают на всех версиях) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


<!--    &lt;!&ndash; Bluetooth (для Android 11 и ниже) &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH"-->
<!--        android:maxSdkVersion="30" />-->

<!--    &lt;!&ndash; Bluetooth (для Android 12+, API 31+) &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"-->
<!--        android:minSdkVersion="31" />-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GPSDataCollector"
        android:usesCleartextTraffic="true"
        android:excludeFromRecents="true"
        tools:targetApi="31">

        <!--        Скрываем приложение из списка приложений в настройках-->
        <!--        android:excludeFromRecents="true"-->

<!--        <service-->
<!--            android:name=".DataCollectionService"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:permission="com.extreme.androiddatacollector.START_SERVICE" />-->

        <!-- Activity для первого запуска -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:noHistory="true">

<!--             Deep Link для активации -->
<!--             Ссылка для активации: myapp://activate -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="activate" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.POWER_CONNECTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>
</manifest>